<div>
  <br/>
  <h2>Lista de Empleados</h2>
  <br/>
  <!--
  <div class="mb-3 row">
    <div class="col-sm-10">
      <input type="text" class="form-control" style="width:30%; margin-left:50px">
    </div>
  </div>
-->

<div class="mb-3 row">
  
    <label style="margin-left:45px; font-size:30px; color:rgb(10, 1, 1)">Filtro</label>

  <div class="col-sm-10" style="width:30% ; margin-left: 50px;">
    <input type="text" class="form-control"  placeholder="Search..." [(ngModel)]="filterPost" >
  </div>
  <br/>
  <br/>
  <br/>
<table class="table table-striped">
<thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Nombre </th>
    <th>Apellido</th>
    <th>Correo_personal</th>
    <th>Correo_corporativo</th>
    <th>Telefono_contacto</th>
    <th>Fecha_Nacimiento</th>
    <th>Proyecto_asignado</th>
    <th>Fecha_incorporación</th>
    <th>Fecha_baja</th>
    <th>Responsable_directo</th>
    <th>Activo</th>

    
  </tr>
</thead>
<tbody>
<tr *ngFor="let item of  collection.data | filter:filterPost">
  <td>{{item.id}}</td>
  <td>{{item.nombre}}</td>
  <td>{{item.apellido}}</td>
  <td>{{item.correoPersonal}}</td>
  <td>{{item.correoCorporativo}}</td>
  <td>{{item.telefono}}</td>
  <td>{{item.fecha_nacimiento}}</td>
  <td >{{item.proyecto_asignado}}</td>
  <td>{{item.fecha_incorporacion}}</td>
  <td>{{item.fecha_baja}}</td>
  <td>{{item.responsable_directo}}</td>
  <td>{{item.activo}}</td>
</tr>
</tbody>
</table>

<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


</div>
